:root{
  --jackson-purple:#242582 !important;
  --mulled-wine:#553d67 !important;
  --french-rose:#f64c72 !important;
  --mountbatten-pink:#99738e !important;
  --mountbatten-l-pink:rgb(153, 115, 142, 0.5) !important;
  --governor-bay:#2f2fa2 !important;
  --port-f-size:18px;
}